Screen {
    layout: vertical;
}

Header, Footer {
    dock: top;
    height: 1;
}

Footer {
    dock: bottom;
}

/* Hlavní kontejner pro navigaci a obsah */
#main-container {
    layout: horizontal;
    height: 1fr; /* Zabere všechen zbývající prostor */
}

/* Levý navigační panel */
#nav-list {
    width: 20; /* Pevná šířka 20 znaků */
    border-right: solid $accent;
    margin-right: 1;
}

/* Pravý panel s obsahem */
#content-switcher {
    width: 1fr; /* Zabere zbytek šířky */
    height: 100%;
}

/* Zajistíme, aby se tabulky roztáhly na celou výšku a šířku svého kontejneru */
#processes, #network {
    width: 100%;
    height: 100%;
}

#DataTable {
    width: 100%;
    height: 100%;
}